<%= form_with model: @todo do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div>
        <%= f.label :deadline %>
        <%= f.datetime_select :deadline %>
    </div>
    <div>
        <%= f.label :complete %>
        <%= f.check_box :complete %>
    </div>

    <div>
        <%= f.submit "Submit" %>
    </div>
<% end %>